@media only screen and (min-width: 320px) and (max-width: 480px) {
    #tullido { padding-left: 20px; padding-right: 20px; margin: 0px auto; width: 460px ! important; }
  #cabecera { display: inline-block; padding-left: 20px; padding-right: 20px; width: 460px; }
  #menu { font-weight: 700; width: 100% ! important; height: 30px ! important; }
  #social { width: 120px !important; margin-top: -65px ! important; right: 33px !important;} 
  #cabecera h1 {background-image: url('title-tablet.png') !important; width: 190px !important; height: 28px !important;margin-bottom: 25px;
margin-top: 20px;}
  .custom-slider { margin: 0px auto; width: 440px; }
  #navigation li > a { min-width: 75px; }
  div#barra { float: none ! important; margin: 0px auto; width: 440px; }
  div#main-content { float: none ! important; margin: 0px auto; width: 440px ! important; }
  div#barra form { display: none; }
  div#barra dl, h3#involucrate, h3#boletin, p.boletin, div#barra ul { width: 33%; }
  div#barra ul { margin-top: -240px ! important; float: right; }
  div#barra ul li { list-style: none outside none; }
  h3#involucrate { float: left; }
  h3#destacado { float: right; margin-top: -320px ! important; display: block ! important; width: 23%; }
  p.boletin a { color: #FFFFFF; }
  p.boletin { font-weight: 700; float: left; margin-top: -240px ! important; width: 27% ! important; margin-left: 250px; display: inline ! important; color: #FFFFFF; background-color: #0074CC; background-image: -moz-linear-gradient(center top , #0088CC, #0055CC); background-repeat: repeat-x; border-image: none; border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; font-size: 13px; line-height: 18px; margin-bottom: 0px; text-align: center; vertical-align: middle; border-color: #E6E6E6 #E6E6E6 #B3B3B3; border-style: solid; border-width: 1px; padding: 4px 10px; }
  #barra h3#boletin { float: left; margin-top: -310px ! important; margin-left: 240px; display: inline ! important; }
  .colored_block { height: 260px; top: 123px; }
  #middle { margin: -28px auto 30px; padding: 6px; width: 440px; }
  #bottom { padding-top: 74px; margin-top: -104px; }
  #top_sidebar { padding: 20px 20px 0px; }
  #middle_content, .middle_sidebar { padding: 20px; }
  .cmsms_slider_parent, #slider { height: 300px; width: 440px; }
  .content_wrap { background-position: 480px 0px; }
  .content_wrap.sidebar_left { background-position: 259px 0px; }
  #content { width: 440px; padding: 20px; }
  #pie #pie-contenido .c1 { width: 110px; }
  #lienzo, .header { margin: 0px auto; position: relative; width: 460px; }
  #pie { width: 100%; }
  #pie-contenido { margin: auto; width: 460px; }
  .orbit-wrapper .orbit-caption { padding: 10px 0 10px 15px !important; width: 190px; }
  .orbit-wrapper .orbit-caption h3 { font-size: 26px; margin-bottom: 17px; }
  #menu li, #menu li a, .js #menu li span {
    -webkit-box-shadow: inset rgba(255, 255, 255, 1) 0 -6px 20px 10px;
  }
  .home {
    top: 25px;
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    display: inline-block;
  }
  .portada-individual, .portada-extra {
    width: 100% !important;
  }
  .portada-individual .texto-portada-individual p {
  
  font-size: 1.2em !important;
  }

  .portada-individual h2{
    font-size: 2.2em !important;
  }



}

@media only screen and (min-width: 481px) and (max-width: 780px) {

}

@media only screen and (min-width: 781px) and (max-width: 999px) {
  #tullido { padding-left: 20px; padding-right: 20px; margin: 0px auto; width: 760px ! important; }
  #cabecera { display: inline-block; padding-left: 20px; padding-right: 20px; width: 760px; }
  #menu { font-weight: 700; width: 100% ! important; height: 30px ! important; }
  #social { width: 120px !important; margin-top: -65px ! important; right: 33px !important;} 
  #cabecera h1 {background-image: url('title-tablet.png') !important; width: 190px !important; height: 28px !important;margin-bottom: 25px;
margin-top: 20px;}
  .custom-slider { margin: 0px auto; width: 720px; }
  #navigation li > a { min-width: 75px; }
  div#barra { float: none ! important; margin: 0px auto; width: 720px; }
  div#main-content { float: none ! important; margin: 0px auto; width: 720px ! important; }
  div#barra form { display: none; }
  div#barra dl, h3#involucrate, h3#boletin, p.boletin, div#barra ul { width: 33%; }
  div#barra ul { margin-top: -257px ! important; float: right; }
  div#barra ul li { list-style: none outside none; }
  h3#involucrate { float: left; }
  h3#destacado { 
    float: right;  display: block ! important; width: 23%;

margin-top: -333px !important;
}


     }
  p.boletin a { color: #FFFFFF; }
  p.boletin { font-weight: 700; float: left; margin-top: -256px ! important; width: 27% ! important; margin-left: 250px; display: inline ! important; color: #FFFFFF; background-color: #0074CC; background-image: -moz-linear-gradient(center top , #0088CC, #0055CC); background-repeat: repeat-x; border-image: none; border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; font-size: 13px; line-height: 18px; margin-bottom: 0px; text-align: center; vertical-align: middle; border-color: #E6E6E6 #E6E6E6 #B3B3B3; border-style: solid; border-width: 1px; padding: 4px 10px; }
  #barra h3#boletin { float: left; margin-top: -333px ! important; margin-left: 240px; display: inline ! important; }
  .colored_block { height: 260px; top: 123px; }
  #middle { margin: -28px auto 30px; padding: 6px; width: 720px; }
  #bottom { padding-top: 74px; margin-top: -104px; }
  #top_sidebar { padding: 20px 20px 0px; }
  #middle_content, .middle_sidebar { padding: 20px; }
  .cmsms_slider_parent, #slider { height: 300px; width: 720px; }
  .content_wrap { background-position: 480px 0px; }
  .content_wrap.sidebar_left { background-position: 259px 0px; }
  #content { width: 440px; padding: 20px; }
  #pie #pie-contenido .c1 { width: 110px; }
  #lienzo, .header { margin: 0px auto; position: relative; width: 760px; }
  #pie { width: 100%; }
  #pie-contenido { margin: auto; width: 760px; }
  .orbit-wrapper .orbit-caption { padding: 10px 0 10px 15px !important; width: 190px; }
  .orbit-wrapper .orbit-caption h3 { font-size: 26px; margin-bottom: 17px; }
  #menu li, #menu li a, .js #menu li span {
    -webkit-box-shadow: inset rgba(255, 255, 255, 1) 0 -6px 20px 10px;
  }
  .home {
    top: 25px;
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    display: inline-block;
  }
  .portada-individual, .portada-extra {
    width: 100% !important;
  }
  .portada-individual .texto-portada-individual p {
  
  font-size: 1.1em !important;
  }

  .portada-individual h2{
    font-size: 1.8em !important;
  }

  #cuerpo {
    padding-left:12px;
    padding-left: 12px;
  }

  /* FORO */

  #page-body {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
}

@media only screen and (min-width: 1281px) {
}
